.footer-contact {
  display: none;
}
.contact-header > h3 , .contact-header-text > p {
  text-align: center;
  margin-bottom: 0px;

}

.form-group > input {
  height: 50px;
}

.form-group > textarea {
  margin-bottom: 2vh;
}
 .social-icon{
   font-size: 3.2em;
   padding-left: 0;
   padding-right: 0;
 }

 .form-control{
   border-radius: 0px;
 }
 .form-control:focus{
   border: #5bc19a 2px solid;
 }
 .form-group{
   margin-bottom: 5px;
 }
 .contact-body{
   margin-bottom: 10vh;
 }
 .btn-primary{
   background-color: #5bc19a;
   border-color: #5bc19a;
   padding: 10px 10px 10px 10px;
 }

 .contact-body-content > h3 {
   margin-bottom: 5vh
 }

 .social-text > a {
   color: #555555;
 }

 .social-text{
   padding-top: 20px;
   padding-left: 5px;
 }


.contact-header > h3 , .contact-header > .contact-header-text > p , .contact-body > .contact-body-content > h3{
 font-weight: unset;
 color: #505050;
}


.contact-header-text > p {
  font-size: 1.4em;
}
.header-strip{
   width: 39px;
   border-top: 3px solid #06AF8F;
   margin-bottom: 3.5vh;
   margin-top: 3.5vh;
}
.social-contact{
  padding-top: 2vh;
}
.contact-header-text{
  margin-bottom: 5vh;
}

@media (max-width: 769px) {
  .contact-body-content{
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .col-xs-12 , .col-xs-6{
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .social-contact{
    padding-top: 1vh;
    text-align: center;
    font-size: 0.85em;
  }
}
