@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
	font-family: 'Roboto', sans-serif;
	color: #363636 !important;
}


footer{
	background-color: #363636;
	height: 100% !important;
    padding: 40px 0 !important;
    border: none !important;
    margin: 0;
		bottom: 0;
}
@media (max-width: 769px) {
	.navbar-brand{
		width: 120px !important;
	}
	.navbar-default .navbar-nav-customs > li > a{
		color: #aaa !important;
	}
	.navbar-default{
		background-color: #fff !important;
	}
	.navbar-toggle{
		margin-top: 20px;
	}
	.inner-strip{
		margin: 2vh 0 2vh 0;
	}
	.text-right{
		text-align: center;
	}
}
@media (min-width: 769px) {
	.copy-list{
		float: right;
	}
	.img-logo{
		width: 180px !important;
	}
	.navbar-default-custom{
	    min-height: 110px;
	}
	.navbar-default .navbar-nav-customs > li > a{
		padding : 40px 1.5vw !important;
		font-size: 16px;
	}

	.inner-strip{
	    margin: 60px;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: transparent !important;
	}
	.content-margin-top{
		margin-top: 110px;
	}
}

.inner-strip{

		background-color: rgba(255, 255, 255, 0.79);
	    padding: 40px;
}

.footer-title{
	margin-bottom:40px;
}
.footer-icon{
	font-size: 60px ;
text-align: center;
}



.social-contact{
	padding-top: 30px;
}
.footer-icon-text{
			font-size: 15px;
    line-height: 2;
	text-align: center;
}
.social-link{
	overflow:auto;
}
.no-padding{
	padding: 0 !important;
}
.transparent{
	background: transparent !important;
	border: none !important;
}
.green-text{
	color: #5bc19a !important;
}
.white-text{
	color: #FFF !important;
}

/*.carousel,
.item,
.active {
    height: 100%;
}*/

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-indicators li{
	background: #FFF !important;
	border: 1px solid #FFF !important;
	width: 30px !important;
	height: 6px!important;
	border-radius: 0 !important;
}

.carousel-indicators .active {
    background: #5BC19A !important;
	border: 1px solid #5BC19A !important;
	width: 30px !important;
	height: 6px!important;
	border-radius: 0 !important;
}
.title{
	margin: 40px 0;
}
.title h3{
	color: #5BC19A;
	text-transform: uppercase;
	font-size:26px;
	margin-bottom: 20px;
}
.title p{
	font-weight: 500;
	color: #777777;
}
.underlined-title{
	margin: 60px 25px 25px 25px;
}

.title-content h3{
	color: #5BC19A;
}

.underlined-title hr{
	border-top: 2px solid #5bc19a !important;
    width: 50px !important;
}

.featured-class{
	margin-bottom: 20px;
}

.strip{
	background: url('../images/BG Img Banner .png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow:auto;
}

.strip-2{
	margin-top: 30px;
	background: url('../images/BG Coment.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow:auto;
    width: 100%;
}


.btn-custom, .btn-custom-2{
	background-color: #5bc19a;
    color: #FFF;
    padding: 10px 30px;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active{
	background: rgb(91, 193, 141);
	color: #FFF;
}

.btn-custom-2{
	background: rgb(91, 193, 141);
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active{
	background-color: #5BC19A;
	color: #FFFFFF;
}

.advantage{
	margin: 20px 0;
}

.navbar-default-custom{
	background-color: #FFFFFF;
	background-image: unset;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
    min-height: 80px;
    border-bottom: 1px solid #DDD;
}

.navbar-default-home{
	background-image: unset;
	background-color: unset;
	border: unset;
}

.img-logo{
	width: 150px;
}

.navbar-default .navbar-nav-customs > li > a{
	padding: 15px 20px;
}

.navbar-default .navbar-nav-customs > li > a:hover,
.navbar-default .navbar-nav-customs > li > a:focus,
.navbar-default .navbar-nav-customs > li > a.active,
.navbar-default .navbar-nav-customs > li > a.active:hover,
.navbar-default .navbar-nav-customs > li > a.active:focus{
	color: #5BC19A;
}

.navbar-brand{
	 height: auto !important;
}

.navbar-default .navbar-nav-home > li > a{
	color: #FFFFFF;
	padding: 15px 20px;
}

.navbar-default .navbar-nav-home > li > a:hover,
.navbar-default .navbar-nav-home > li > a:focus,
.navbar-default .navbar-nav-home > li > a.active,
.navbar-default .navbar-nav-home > li > a.active:hover,
.navbar-default .navbar-nav-home > li > a.active:focus{
	color: #404040;
}

.logo-footer{
	width: 50%;
}

.copyright-text{
	font-size: 12px;
}

.copy-list{
	margin-top: 40px;
}

.copy-list > li{
	display: inline-block;
	padding: 0px 12px;
}

.copy-list > li:last-child{
	border-left: 1px solid #FFFFFF;
	padding-right: 0;
}

.copy-list > li > a{
	color: #FFFFFF;
}

.course-subject{
	height: 300px;
	margin-bottom: 20px;
}

.course-subject img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.course{
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	bottom: 20px;
	left: 15px;
	right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.course p{
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 0;
	border-left: 1px solid #FFFFFF;
	padding-left: 10px;
}

.breadcrumb-customs{
	list-style: none;
	text-align: center;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	-ms-padding-start: 0;
	-o-padding-start: 0;
	color: #808080;
}

.breadcrumb-customs > li{
	display: inline;
	padding: 0 6px;
}

.breadcrumb-customs > li > a,
.breadcrumb-customs > li > a:focus,
.breadcrumb-customs > li > a:hover{
	color: #808080;
	font-size: 12px;
	text-decoration: none;
	outline: none;
}

.breadcrumb-customs > li > a.active{
	color: #5bc19a;
}

.video-space > iframe{
	width: 400px;
	height: 315px;
}

.video-space p{
	width: 70%;
	margin-left: 15%;
	margin-top: 30px;
}

.tab-content-customs{
	border: 1px solid #A8A8A8;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	padding: 20px;
}
.panel-customs > .panel-heading{
	border-bottom: 1px solid #DDD !important;
}

.grade-space{
	width: 50%;
	height: 100%;
	display: inline-block;
}

.grade-separated{
	width: 1px;
	border-right: 1px solid #A8A8A8;
	height: 100%;
}

/*.grade-space::after{
	content: '';
	position: absolute;
	border-right: 1px solid #A8A8A8;
	top: 0;
	bottom: 0;
}*/

.nav-tabs.tab-customs > li > a{
	background-color: #E6E6E6;
	color: #212121;
	border-left: 1px solid #A8A8A8;
	border-top: 1px solid #A8A8A8;
	border-radius: 0;
}

.nav-tabs.tab-customs > li:last-child > a{
	border-right: 1px solid #A8A8A8;
}

.nav-tabs.tab-customs > li > a:focus{
	outline: none;
}

.nav-tabs.tab-customs > li.active > a{
	border: unset;
	color: #FFFFFF;
}

.nav-tabs.tab-customs > li.active > a{
	background-color: red;
}

.nav-tabs.tab-customs > li.active.smp > a{
	background-color: blue;
}

.nav-tabs.tab-customs > li.active.sma > a{
	background-color: grey;
}

.table-course{
	border-left: 1px solid transparent;
	width: 100%;
}

.table-course > tbody > tr > td{
	width: 50%;
	height: 280px;
	vertical-align: top;
	border-right: 1px solid #A8A8A8;
	margin-left: -1px;
}

.table-course > tbody > tr > td:last-child{
	border-right: 0;
}

.panel-group .panel-customs{
	border-radius: 0;
	border:unset;
	box-shadow: unset;
}

.panel-group .panel-customs + .panel{
	margin-top: 0;
}

.panel-customs > .panel-heading{
	padding: 0;
	background-color: unset;
}

.panel-customs > .panel-heading > h4 > a{
	padding: 15px;
	display: block;
	color: #79A4B4;
}

.panel-customs > .panel-heading > h4 > a > span{
	float: right;
	font-size: 10px;
	padding-top: 3px;
}

.panel-customs > .panel-collapse > .panel-body{
	background-color: #F7F7F7;
}

.chapter-list{
	list-style: none;
}

.chapter-list > li {
	margin-bottom: 5px;
}

.chapter-list > li > a{
	color: #5A5A5A;
	font-size: 16px;
}

.chapter-list > li.active > a,
.chapter-list > li > a:hover,
.chapter-list > li > a:focus{
	color: #79A4B4;
}

.section-list{
	padding: 20px;
	display: none;
}

.show-section{
	display: block;
}

.section-list > ol{
	-webkit-padding-start: 25px;
	-moz-padding-start: 25px;
	-ms-padding-start: 25px;
	-o-padding-start: 25px;
}

.section-list > ol > li{
	margin-bottom: 8px;
}

.section-list > ol > li{
	color: #212121;
}

.section-list > ol > li:hover{
	cursor: pointer;
}

.section-list > ol > li.active,
.section-list > ol > li:hover,
.section-list > ol > li:focus{
	color: #5BC19A;
}

.total-followers{
	text-align: center;
	color: #0000FF;
	font-size: 16px;
	margin: 15px 0;
}

.total-followers > span{
	margin-right: 5px;
}

.imagine-left{
	padding-left: 20%;
	padding-right: 8%;
}

.imagine-left p{
	font-size: 12px;
	line-height: 1;
}

.imagine-right{
	padding-left: 8%;
	padding-top: 20px;
}

.content-margin-top{
	margin-top: 100px;
}

.about-header{
	background-image: url('../images/bg_img_about_us.png');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	color: #FFFFFF !important;
	text-align: center;
}

.about-header > .underlined-title > hr{
	border-top: 2px solid #FFFFFF !important;
}

.img-mission-right{
	width: 80%;
	float: right;
	height: 200px;
	object-fit: contain;
}

.img-mission-left{
	width: 80%;
	float: left;
	height: 200px;
	object-fit: contain;
}

.video-section > h3{
	color: #5BC19A;
	text-transform: uppercase;
}
.br-widget.br-readonly a::after {
    content: '\f006';
    color: #fd7d7d !important;
    font-size: 17px;
}
.video-section > iframe{
	width: 100%;
	height: 400px;
}

.video-action{
	list-style: none;
	position: relative;
	top: 55px;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	-ms-padding-start: 0;
	-o-padding-start: 0;
}

.video-action > li{
	margin-bottom: 8px;
}

.video-action > li > a{
	color: #000000;
	font-size: 20px;
}

.recommended-section{
	margin-top: 20px;
	margin-bottom: 10px;
	z-index: 4;
	color: #818181;
}

.recommended-section span{
	font-size: 18px;
	font-weight: 700;
}

.section-control{
	display: inline;
	float: right;
	padding-top: 2px;
}

.section-control a{
	color: #787878;
}

.section-control a:hover,
.section-control a:focus{
	color: #D2D2D2;
	text-decoration: none;
}

.img-recommend-course{
	width: 100%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none!important;
  }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.multi-item-carousel .carousel-inner .active.left {
  left: -33.3%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33.3%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33.3%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33.3%;
}

.sign-in-header{
	background-image: url('../images/bg_img_sign_up.png');
	background-size: cover;
	min-height: 100vh;
	text-align: center;
	padding-top: 110px;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
}

.nav-tabs.tab-sign-in > li > a{
	background-color: #E6E6E6;
	color: #212121;
	border: 1px solid #dcdcdc;
	border-radius: 0;
	padding: 20px;
}

.nav-tabs.tab-sign-in > li > a:focus{
	outline: none;
}

.nav-tabs.tab-sign-in > li.active > a{
	color: #FFFFFF;
	background-color: #6DC8A5;
	padding: 20px;
	border: 1px solid #6dc8a5 !important;
}

.tab-content-sign-in{
	border: 1px solid #A8A8A8;
	position: relative;
	background-color: rgba(255, 255, 255, .7);
}

.sign-in-content{
	padding: 20px 15%;
}

.sign-in-content h3{
	color: #6DC8A5;
}

.sign-in-content p{
	color: #686868;
	margin-bottom: 15px;
}

.sign-in-content h5{
	color: #5FC29D;
}

.btn-sign-in{
	border-radius: 4px;
	width: 30%;
	margin-top: 20px;
}

.btn-other-sign img{
	margin-right: 5px;
	width: 18px;
	height: 18px;
	object-fit: contain;
}

.btn-other-sign{
	width: 40%;
}

.footer-sign-in{
	color: #848484;
	margin: 15px 0;
}

.footer-sign-in .left{
	float: left;
}

.footer-sign-in .right{
	float: right;
}

.footer-sign-in > span > a{
	color: #848484;
}

.navbar-sign-in{
	position: fixed;
	height: 95px;
	background-color: #FFFFFF;
	z-index: 10;
	text-align: center;
	padding-top: 10px;
}

.navbar-sign-in img{
	width: 30%;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background-color: #FFF !important;
    border: 1px solid #5bc19a !important;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	    color: #5bc19a !important;
}

/*navbar override*/

.comment-avatar{
	width: 45px;
    height: 45px;
    background-color: #fd7d7d;
    text-align: center;
    padding: 7px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}
