/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Extra Small devices (tablets, 320px and up) */
@media (max-width: 767px) { 
	#zunalogo > a:active{
		background-color: transparent;
	}
	#zunalogo > a:focus{
		background-color: transparent;
		outline: 0;
		outline-offset: 0;
	}	
	#space-mobile{
		margin-top: 40px;
	}
	.pop-pro{
		border-top: 0;
	}
	.top-item {
		z-index: 1;
	}
	.top-item > a > div {
		height: auto;
	}
	.top-item > a > div:hover {
		height: auto;
	}	
	.top-item > a > div > div{
		margin-bottom: 5px;
		height: auto;
		text-align: center;
	}
	.top-item > a > div > div:hover{
		height: auto;
	}	
	.top-item > a > div > div > p{
		display: none;
	}	

	.pp-top{
		height: 60px;
		margin-top: 50px;
	}
	.pp-top > div{
		margin-top: 10px;
	}	
	.pp-top > div > center > a{
		font-size: 12px;
	}	
	.pp-top > div > center > h2{
		font-size: 16px;
	}		
	.table-custom > thead > tr > th {
		font-size: 12px;
	}
	.table-custom > tbody > tr > td {
		font-size: 12px;
	}		
	.table-custom > tbody > tr > td > div > img{
		width: 10vh;
		height: 10vh;
	}	
	.table-custom > tbody > tr > td > div > .btn{
		width: 5vh;
		height: 5vh;
	}		

	.sp-life{
		padding: 0;
		margin-top: 20px;
	}
	.sp-show{
		padding-left: 0;
		padding-right: 0;
	}
	.sp-show-row > div:last-child{
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.display-xs{
		margin-top: 80px;
	}
	.pp-rel{
		margin-top: 20px!important;
	}

	.track{
		padding-left: 0;
		padding-right: 0;		
	}
	.track-a{
		padding-right: 0;
		margin-bottom: 15px;
	}
	.btn-wish{
		width: 100%;
		margin-bottom: 5px;
	}
	.btn-chek{
		width: 100%;
	}	
	.log{
		padding-left: 0;
		padding-right: 0;
	}
	.co-1 > div > div {
		padding-right: 0;
		padding-left: 0;
	}
	.co-2{
		padding:10px 20px;
	}
	.nav-account > li {
		width: 100%;
	}
	.table-bordered > tbody > tr > td > div >.img-responsive {
		width: 10vh;
		height: 10vh;
	}
	.od-btn > .btn-print{
		width: 100%;
	}
	.od-btn > .btn-print:hover{
		width: 100%;
	}	
	.pp-rel-pp{
		margin:15px 0;
		padding-left: 15px!important;
		padding-right: 15px!important;		
	}
	.pp-rel-item{
		padding: 0 15px;
		margin:0;
	}
	.kecil{
		width:100%;
		height:100%;
	}
	.zoom-small-image{
height: 100%!important;
		width: 100%!important;
		margin-top: 70px;
	}
	#wrap{
		height: auto!important;
		width: 100%;
		z-index: 0!important;
	}
	.mousetrap{
		height: auto!important;
		width: 100%!important;
		display: none;
	}
	.magnifier{
		width:100%!important;
		height:200px!important;
		display: none;
	}
	.tracker{
		width:100%!important;
		height:200px!important;	
		display: none;
	}
	.cir-out{
		left:0;
	}
	.cir-sale{
		left:23%;
	}	
	.cir-new{
		left:81%;
	}		
	.nav-cus > li{
		width: 100%;
	}
	#cus-img{
		height: 70vh;
	}
	.pp-gal-a, 
	.pp-gal-a:hover {
		margin:5px;	
		padding-left: 4px;
		text-align: center;	
		width: auto;
		height: auto;
		padding: 5px !important;
	}
	.pp-gal-a > a > img {
		height: auto;
		width: 9vw;
	}
	.col-product {
		height: auto;
	}
	.cat-0, .cat-1, .cat-2, .cat-3, .cat-4 {
		padding: 0 0 0 0 !important;
	}

	.cat-1{
		margin-top:20px;
	}
	
	.f-logo > div {
		padding-right: 0;
	}
	.nav-account > li > a,
	.nav-account > li > a.long {
		font-size: 12px !important;
		padding: 10px 15px !important;
	}
	.img-wish {
		max-width: 60px;
	}
	.shop-container {
		margin-left: 15px;
		margin-right: 15px;
	}
	.shop-tool-top {
		padding: 0;
		margin-bottom: 10px;
	}
	.shop-tool-bottom {
		padding: 0;
	}
	.pp-rel-item3 {
		display: block !important;
	}
	.result .sp-show-row {
		min-height: 100px;
	}
	.btn-rmv-cou {
		width: 60%;
	}
	.pro-top-margin {
		margin-top: 50px;
	}
	.pro-color {
		padding-top: 0 !important;
	}
	.add-cart .btn-cart {
		margin-bottom: 10px;
	}
	.pp-top-static {
	 	height: 80px;
	 	margin-top: 40px;
	}
	.pp-top-static div {
		padding-top: 20px;
	}
	.menu-info-title {
		margin-top: 0;
	}
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 992px) { 
	#space-mobile{
		margin-top: 40px;
	}
	.pop-pro-item-det.col-has-3 {
		clear: both;
	}
	.pop-pro-item-det.col-has-4 {
		clear: none !important;
	}
	.cat-3 { 
		padding-left: 15px;
	}
	.cat-4 {
		padding: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.btn-wish, .btn-chek {
		margin-bottom: 15px;
	}
	.item-cart {
		margin-top: 0px !important;
	}
	.nav-account > li > a.long {
		padding: 5px 10px;
	}
	.pp-rel-item3 {
		display: none;
	}
	.f-icon {
		padding: 10px 0;
		height: auto;
	}
	.footer-icon {
		padding-left: 0;
	}
	.pro-desc {
		clear: both;
	}
	.pro-color {
		padding-top: 18px;
	}
	.add-cart .btn-cart {
		margin-top: 15px;
	}
	.ppd-guide {
		text-align: center;
	}
	.ppd-guide img {
		max-height: 450px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1200px) {
	.pop-pro-item-det.col-has-4 {
		clear: both;
	}
	.nav-account > li > a {
		font-size: 11px;
		padding: 12px 10px;
	}
	.tool-pagination {
		padding-top: 10px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.sp-show{
		padding-left: 15px;
	}
	.pop-pro-item-det.col-has-4 {
		clear: both;
	}
}